* {
    padding: 0;
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: rgba(46, 54, 62, 1);
}

.big-container{
    width: 1920px;
    margin: auto;
    background-color: rgba(255, 255, 255, 1);
    position: relative;
}

h1 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 500;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    width: 1180px;
    margin: auto;
}

.card {
    width: 380px;
    height: 582px;
    box-shadow: 2px 8px 16px 0px rgba(194, 198, 208, 0.2);
    border-radius: 10px;
}

.text-container {
    width: 247px;
    margin: auto;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 50px;
}

.description {
    margin-top: 12px;
    line-height: 150%;
}

.price {
    margin-top: 24px;
    margin-bottom: 14px;
    font-size: 24px;
    font-weight: 500;
}

button {
    background-color: rgba(254, 216, 76, 1);
    padding: 20px 40px 20px 40px;
    width: 163px;
    height: 68px;
    border-radius: 8px;
    font-size: 18px;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: rgb(255, 201, 4);
}

#img-leaf {
    position: absolute; 
    top: 1025px;
    right: 236px;
    width: 167px;
    height: 167px;
}

#img-berry {
    position: absolute;
    top: 228px;
    left: 214px;
    width: 170px;
    height: 174px;
}

#img-leaf2 {
    position: absolute; 
    top: 1381px;
    left: 252px;
    width: 109px;
    height: 113px;
}
